<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Wallet Manager</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/calc.js"></script>
    <body>
        <%- include('header'); %>
        <div class="container">
            <div class="container-header">
                <div class="container-text">
                    <h2>支出リスト編集</h2>
                </div>
                <a href="/index" class="cancel-button">キャンセル</a>
            </div>
            <div class="flex">
                <div class="record-form-wrapper">
                    <form action="/update/<%= spending.id %>" method="post">
                        <p class="form-label">年月日</p>
                        <% let defDate = spending.date %>
                        <% let yyyy = defDate.getFullYear(); %>
                        <% let mm = ("0" + (defDate.getMonth() + 1)).slice(-2); %>
                        <% let dd = ("0" + defDate.getDate()).slice(-2); %>
                        <input name="spendingDate" type="date" value="<%= yyyy + '-' + mm + '-' + dd %>">
                        <p class="form-label">項目</p>
                        <input name="spendingCategory" type="text" value="<%= spending.category %>">
                        <p class="form-label">内容</p>
                        <textarea name="spendingDetail" cols="30" rows="10"><%= spending.detail %></textarea>
                        <p class="form-label">金額(半角数字のみ)</p>
                        <input name="spendingPrice" type="number" value="<%= spending.price %>">
                        <p class="form-label">名前</p>
                        <select name="spendingName" value="<%= spending.name %>">
                        <option value="共通会計" <% if(spending.name === "共通会計" ){ %><%= "selected" %><% } %>>共通会計</option>
                        <% members.forEach((member) => { %>
                            <option value=<%= member.name %> <% if(spending.name === member.name ){ %><%= "selected" %><% } %>><%= member.name %></option>    
                        <% }) %>
                        </select>
                        <p class="form-label">立替え</p>
                        <select name="spendingPayment" value="<%= spending.payment %>">
                        <option value="○" <% if(spending.payment === "○" ){ %><%= "selected" %><% } %>>○</option>
                        <option value="-" <% if(spending.payment === "-" ){ %><%= "selected" %><% } %>>-</option>    
                        </select>
                        <input type="submit" value="更新する">
                    </form>
                </div>
                <div class="calc-wrapper">
                    <h2 class="calc-title">電卓</h2>
                    <div class="calc">
                        <div class="display">
                            <input readonly id="result" type="text" value="0">
                            <button onclick="c_click()">C</button>
                        </div>
                        <div>
                            <button onclick="num_click(this.innerHTML)">7</button>
                            <button onclick="num_click(this.innerHTML)">8</button>
                            <button onclick="num_click(this.innerHTML)">9</button>
                            <button onclick="ope_click(this.innerHTML)">÷</button>
                        </div>
                        <div>
                            <button onclick="num_click(this.innerHTML)">4</button>
                            <button onclick="num_click(this.innerHTML)">5</button>
                            <button onclick="num_click(this.innerHTML)">6</button>
                            <button onclick="ope_click(this.innerHTML)">×</button>
                        </div>
                        <div>
                            <button onclick="num_click(this.innerHTML)">1</button>
                            <button onclick="num_click(this.innerHTML)">2</button>
                            <button onclick="num_click(this.innerHTML)">3</button>
                            <button onclick="ope_click(this.innerHTML)">-</button>
                        </div>
                        <div>
                            <button onclick="num_click(this.innerHTML)">0</button>
                            <button onclick="num_click(this.innerHTML)">.</button>
                            <button onclick="equal_click()">=</button>
                            <button onclick="ope_click(this.innerHTML)">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>